snippet Hd "Header" b
#include$1

endsnippet

snippet bC "Betty C Comments" b
/**
 * main - Entry point
 *
 * Description: $1
 *
 * Return: Always 0 (Success)
*/

endsnippet

snippet fL "for loop" b
for ($1)
{
}

endsnippet

snippet wL "while loop" b
while ($1)
{
}

endsnippet

snippet iF "if statement" b
if ($1)
{
}

endsnippet
